header #header-bar>.row 
{
  color : #e50914;
}

header #header-bar>.row 
{
  border-top: 5px solid #e50914;
}

#main .menu-wrapper>.header 
{
  background: #e50914;
}


header #right-search-form>input[type=text]
{
  border: 3px solid #e50914;
}


header #right-search-form>#right-search-btn
{
  color: #e50914;
}

header #header-bar #header-top-notice strong.notice-badge 
{
  background: #e50914;
}

#article-list #article-list-category 
{
  border-top: 2px solid #e50914;
}

#main .menu-wrapper>a>em 
{
  color: #e50914;
}

#main .menu-wrapper .spacer 
{
  background: #e50914;
  opacity: 0.5;
}

#main .menu-wrapper>a>i.fa.fa-square 
{
  color: #e50914;
}

#board-info h1>a 
{
  color: #e50914;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span 
{
  color: #e50914;
}


#article-content-wrapper>.header 
{
  border-top: 2px solid #e50914;
}

#article-reply-area > .header h5 
{
  color: #e50914;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged 
{
  color: #e50914;
}

.btn-outline-success 
{
  color: #e50914;
  border-color: #e50914;
}

.btn-outline-primary 
{
  color : black;
  border-color: black;
}

a 
{
  color: #e50914;
}
  
.img-circle 
{
  border-radius: 10%;
}



